@model REALLY9.ModelViews.MuaHangSuccessVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

}

<main class="main-content">
    <div class="single-product-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <!-- Sử dụng mx-auto để căn giữa cột -->
                    <div class="single-product-img h-100">
                        <div class="swiper-container single-product-slider">
                            <!-- Đặt nội dung trong một div riêng và căn giữa -->
                            <div class="text-center" style="border: 2px solid #ccc; padding: 20px; margin-top: 50px;">
                                <h3>Đặt hàng thành công</h3>
                                <h4>Cảm ơn vì đã mua hàng</h4>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>