@model REALLY9.ModelViews.ForgotPassViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_SignInSignUpLayout.cshtml";
}


<div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
   

                    <p>Bạn đã quên mật khẩu? Không sao lấy lại nó rất dễ dàng</p>
                    <form asp-action="ForgotPassword" method="post" asp-controller="Accounts">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Nhận mật khẩu" class="btn btn-primary" />
                        </div>
                        <p class="text-center mb-0">Không có tài khoản? <a href="/dang-ky.html">Đăng kí</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

